<h2 class="title">Ми працюємо <span style="color: red;">для Вас</span></h2>
<section class="container">
    <section class="section1">
        <div class="content">
            <h3>Про <span style="color: red;">нас</span></h3>
            <p>Наша Pizza – це нова течія у галузі доставки піци у Львові. Головне через сповідування принципу – робити усе
                якісно.
                Ми
                розуміємо, наскільки важливо, щоб піца в офіс або піца додому була смачна та якісна. Команда Піца Летта
                втілює в
                життя
                ті якості, яких хочете Ви – добросовісність, швидкість, смачність!</p>
        </div>
        <img class="image" src="assets/images/img_6504.jpg" alt="pizza">
    </section>
    <section class="section2">
        <img class="image" src="assets/images/about_2.jpg" alt="pizza">
        <div class="content">
            <h3>Чому обирають <span style="color: red;">нашу Pizza</span></h3>
            <p>Наша Pizza – це нова течія у галузі доставки піци у Львові. Головне через сповідування принципу – робити усе
                якісно.
                Ми
                розуміємо, наскільки важливо, щоб піца в офіс або піца додому була смачна та якісна. Команда Піца Летта
                втілює в
                життя
                ті якості, яких хочете Ви – добросовісність, швидкість, смачність!</p>
        </div>
    </section>
    <section class="section3">
        <div class="bottom-title">
            <h3>
                Спробувавши хоча б один раз нашу <span style="color: red;">Pizza</span>,<br> Ви обов'язково захочете скуштувати її ще раз!
            </h3>
        </div>
    </section>
</section>