.card{
    margin-right: 40px;
    margin-top: 10px;
    box-shadow: 0px 0px 2px 1px rgba($color: #000000, $alpha: 0.3);
    user-select: none;
}

.card-img-top{
    cursor: pointer;
    &:active{
        outline: none;
    }
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.author {
    display: flex;
    color: blue;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.img{
    height: 300px;
    width: 300px;
}

.card-text{
    text-align: justify;
}

.productCountWrapper{
    user-select: none;
    cursor: pointer;
    font-size: 30px;
}

.toBuy{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.total{
    margin: 0px 5px;
    width: 50px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba($color: #000000, $alpha: 0.5);
    border-radius: 5px;
}

.lessProduct{
    width: 30px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba($color: #000000, $alpha: 0.5);
    border-radius: 5px;
}

.moreProduct{
    width: 30px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba($color: #000000, $alpha: 0.5);
    border-radius: 5px;
}

.productCountWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title{
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    &:active{
        outline: none;
    }
}

.price{
    font-size: 18px;
}